{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'FoodApp\style.css' %}">
</head>
<body>
    {% block body %}
    {% for logistics in logistics_list %}
    <ul>
        <li>
            <!--{{logistics.id}} || {{logistics.Request_No}} || {{ logistics.Request_Name}} || {{ logistics.Account_No}}-->
            <a href="{% url 'logisticsdetailview' logistics.Request_No %}" > {{ logistics.Request_No }} -- {{ logistics.Request_Name}}</a>
        </li>
    </ul>
    {% endfor %}
    {% endblock %}
</body>
</html>